on:
  pull_request_review_comment:
  pull_request_review:
  pull_request:
    paths-ignore:
    - "docs/**"
  push:
    paths-ignore:
    - "do[cs]s?/**"
    branches-ignore:
    - "ignored*"
    - "!ignored-reincluded" 

name: "Run CI"

jobs:
  CI:
    name: "CI test"
    runs-on: ubuntu-16.04
    steps:
      - run: env
      - run: "echo $THE_TEST_SECRET"
      - run: "echo '${{ github.secrets.THE_TEST_SECRET }}' | wc"
      - uses: actions/checkout@master
      - run: "ls *"
